@using MCD.Models.ViewModels
@model MoreInfoVM
<h2>More info about the document</h2>


<form method="post" asp-action="AdjustDocument" enctype="multipart/form-data">
    <!-- hidden field to pass IDs without the user input it-->
    <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
    <!-- passing the name so that we don't just create a new one later with the same name-->
    <input type="hidden" name="CategoryName" value="@Model.Document.Category.CategoryName" />
    <table id="moreInfoTable" class="moreInfoTable" style="width:100%">
        <thead id="moreInfoHead">
            <tr>
                <th>Author</th>
                <th>File Name</th>
                <th>Title</th>
                <th>Category</th>
                <th>Upload Date</th>
                <th>Update Date</th>
                <th>Update</th>
                <th>AI Task Status</th>
            </tr>
        </thead>
        <tbody id="moreInfoBody">
            <tr class="spacer-row"><td colspan="3"></td></tr>
            <tr>
                <td .disabled>@Model.Document.ApplicationUser.Email</td>
                <td .disbaled>@Model.Document.FileName</td>
                <td>
                    <input name="Title" type="text" class="form-control border-0 shadow"
                           maxlength="50" required value="@Model.Document.Title" placeholder="@Model.Document.Title">
                </td>
                <td>
                    <select name="Category" id="CategoryDropdown" class="form-control border-0 shadow" required onchange="toggleNewCategoryField()">
                        <option value="">Select a Category</option>
                        @foreach (var category in Model.CategoryList)
                        {
                            @if (category.Id == Model.Document.CategoryId)
                            {
                                <option value="@category.Id" selected>
                                    @category.CategoryName
                                </option>
                            }
                            else
                            {
                                <option value="@category.Id">
                                    @category.CategoryName
                                </option>
                            }

                        }
                        <option value="new">Add New Category</option> <!-- Option to add new category -->
                    </select>
                </td>
                <td .disbaled>@Model.Document.UploadDate</td>
                <td .disbaled>@Model.Document.UpdateDate</td>

                <td><button type="submit" class="btn btn-secondary">Update</button></td>
                <td>Currently not available</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input name="NewCategory" id="NewCategoryInput" type="text" class="form-control border-0 shadow" maxlength="30" placeholder="Enter New Category" style="display:none;">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="col text-center d-flex justify-content-center align-items-center gap-2 mt-2">
    <button onclick="openDocument('@Model.Document.ApplicationUserId', '@Model.Document.Id', '@Model.Document.FileName')" class="btn btn-secondary">
        <i class="bi bi-file-earmark"></i> Open Document
    </button>
    <form method="post" asp-action="DeleteDocument" enctype="multipart/form-data">
        <!-- hidden field to pass ID without the user input it-->
        <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
        <button type="submit" class="btn btn-danger text-center">Delete</button>
    </form>
    <form method="post" asp-action="DownloadFile" enctype="multipart/form-data">
        <!-- hidden field to pass ID without the user input it-->
        <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
        <div class="col text-center button-container">
            <button type="submit" class="btn btn-dark">Download file</button>
        </div>
    </form>
</div>

<!-- the action name is uploadshareddocument -->
<form method="post" asp-action="UploadSharedDocument" enctype="multipart/form-data">
    <hr class="mb-4">
    <h2>Share Document</h2>
    <!-- hidden field to pass DocumentID without the user input it-->
    <input type="hidden" name="DocumentID" value="@Model.Document.Id" />

    <table id="addShared" class="addShared" style="width:100%">
        <thead id="addSharedHead">
            <tr>
                <th>User Email to Share document</th>
                <th>Share</th>
            </tr>
        </thead>
        <tbody id="addShareBody">
            <tr class="spacer-row"><td colspan="3"></td></tr>
            <tr>
                <td>
                    <label class="ms-2">Email</label>
                    <input name="SharedToEmail" class="form-control border-0 shadow"
                           required
                           type="email"
                           placeholder="Enter a valid email" />
                    <span class="text-danger"></span>
                </td>
                <td>
                    <!-- Submit button to post the form -->
                    <button type="submit" class="btn btn-secondary">
                        <i class="bi bi-share-fill"></i> - Share to Other User
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="text-center fixed-bottom-center" style="margin-bottom: 60px;">
    <!-- to place the back button always down in the center in top of the bottom header-->
    <a href="/customer/home/document" class="btn btn-info mx-2"> <i class="bi bi-arrow-return-left"></i> Back </a>
</div>

<hr class="mb-4">

<div id="sumPart">
    <h2>Summarization</h2>

    @if (!Model.isSummarized)
    {
        <form method="post" asp-action="SummarizeDocument" enctype="multipart/form-data">
            <!-- hidden field to pass ID without the user input it-->
            <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
            <div class="col text-center button-container">
                <button type="submit" class="btn btn-secondary">Summarize</button>
            </div>
        </form>
    }
    else
    {
        <div class="col text-center button-container d-flex justify-content-center gap-2">
            <button onclick="openDocument('@Model.Document.ApplicationUserId', '@Model.Document.Id', '@($"{System.IO.Path.GetFileNameWithoutExtension(Model.Document.FileName)}_Summarized.txt")')"
                    class="btn btn-light">
                Show Summarized File
            </button> @*to make the format acceptable by the method (to avoid redundancy)*@
            <form method="post" asp-action="DownloadFile" enctype="multipart/form-data">
                <!-- hidden field to pass ID without the user input it-->
                <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
                <input type="hidden" name="downloadSummarized" value="true" />
                <div class="col text-center button-container">
                    <button type="submit" class="btn btn-dark">Download summarized file</button>
                </div>
            </form>
            <form asp-action="DeleteDocument" enctype="multipart/form-data">
                <!-- hidden field to pass ID without the user input it-->
                <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
                <input type="hidden" name="deleteSummarized" value="true" />
                <button type="submit" class="btn btn-danger">Delete Summarized File</button>
            </form>
        </div>


    }
</div>
<hr class="mb-4 mt-4">
<div id="OCRPart">
    <h2>Convert To Text</h2>
    @if (!Model.isConverted)
    {
        <form method="post" asp-action="ConvertToText" enctype="multipart/form-data">
            <!-- hidden field to pass ID without the user input it-->
            <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
            <div class="col text-center button-container">
                <button type="submit" class="btn btn-secondary">Convert</button>
            </div>
        </form>
    }
    else
    {
        <div class="col text-center button-container d-flex justify-content-center gap-2">
            <button onclick="openDocument('@Model.Document.ApplicationUserId', '@Model.Document.Id', '@($"{System.IO.Path.GetFileNameWithoutExtension(Model.Document.FileName)}_converted.txt")')"
                    class="btn btn-light mb-2 ">
                Show Converted File
            </button> @*to make the format acceptable by the method (to avoid redundancy)*@
            <form method="post" asp-action="DownloadFile" enctype="multipart/form-data">
                <!-- hidden field to pass ID without the user input it-->
                <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
                <input type="hidden" name="downloadConverted" value="true" />
                <div class="col text-center button-container">
                    <button type="submit" class="btn btn-dark">Download converted file</button>
                </div>
            </form>
            <form asp-action="DeleteDocument" enctype="multipart/form-data">
                <!-- hidden field to pass ID without the user input it-->
                <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
                <input type="hidden" name="deleteConverted" value="true" />
                <button type="submit" class="btn btn-danger mb-2 ">Delete Converted File</button>
            </form>
        </div>


    }
</div>
<hr class="mb-4">
<div id="EntitiesPart" class="mb-5">
    <h2>Entities</h2>
    <form method="post" asp-action="GetEntities" enctype="multipart/form-data">
        <!-- hidden field to pass ID without the user input it-->
        <input type="hidden" name="DocumentID" value="@Model.Document.Id" />
        <div class="col text-center button-container">
            <button type="submit" class="btn btn-secondary">Get Entities</button>
        </div>
    </form>
</div>





@section Scripts {
    <script>
        function toggleNewCategoryField() { //for the dropdown selection to show/hide the new category input field based on the dropdown selection
            var categoryDropdown = document.getElementById("CategoryDropdown");
            var newCategoryInput = document.getElementById("NewCategoryInput");

             //  Add New Category is selected show the input field for new category else do not
            if (categoryDropdown.value == "new") {
                newCategoryInput.style.display = "block";
            } else {
                newCategoryInput.style.display = "none";
            }
        }

        function openDocument(userId, documentId, fileName) { // a function to call inside render for getting html in the table
            $.ajax({
                url: `/Customer/home/GetDocument?userId=${userId}&documentId=${documentId}&fileName=${fileName}`, //in order to use the same fumction in the home controller to open the document (to avoid duplication)
                type: 'GET',
                success: function (response) {
                    if (response && response.fileUrl) {
                        window.open(response.fileUrl, '_blank'); // Open in new tab -> _self to open in the same page
                    } else {
                        alert("Error: Unable to fetch the document.");
                    }
                },
                error: function (xhr) {
                    console.log("AJAX Error:", xhr.responseText);
                    alert("Error: Could not open the document.");
                }
            });
        }
    </script>
}

